* {
    padding: 0;
    margin: 0;
    font-family: 'Nova Flat';
    font-weight: normal;
    scroll-behavior: smooth;
}

a:hover{
    color: black !important;
}



.btn {
    width: auto;
    height: auto;
    padding: 16px 32px;
    font-size: 36pt;
    color: white;
    background: #E72A2A;
    border: none;
    text-decoration: none !important;
}

.btn:hover {
    background-color: #a50e0e;
}

.header {
    background-color: black;
    height: 95vh;
    text-align: center;
    padding: 32px 0;
}

.header .brand {
    position: relative !important;
    margin: 16px auto 150px auto;
}

.brand {
    color: white;
    font-size: 96pt;
    text-align: center;
    line-height: .8;
}

.brand span {
    margin: 0;
    font-size: 64pt !important;
}

.brand-text {
    margin: 156px auto;
    color: white;
    font-size: 64pt;
    text-align: center;
}

.section {
    padding: 32px;
}

.headline {
    font-size: 36pt;
    text-align: center;
    margin: 64px;
}

/* .row-list {
display: flex;
flex-direction: row;
list-style: none;
flex-wrap: wrap;
margin: 64px auto;
} */

.row-list .item {

    height: 96px;
    margin: 5px;
    padding: 0 24px;
    background-color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 18pt;
}

.row-list .item h4 {
    margin: auto;
}

.list-contact {
    text-align: center;
    list-style: none;
    width: 100%;
}

.list-contact a {
    color: white;
}

.list-contact li {
    height: 60px;
    margin: 24px auto;
}

.list-contact li h4 {
    font-size: 24pt;
}

.list-contact li span, a {
    margin: 16px auto;
    font-size: 16pt;
    text-align: center;
}

.contact {
    padding: 64px;
    background-color: #E72A2A;
    color: white;
}

.footer {
    padding: 64px;
    background: black;
}

.footer h3 {
    color: white;
    text-align: center;
    margin: 64px auto 0 auto;
}


.row-list{
    margin: 0 !important;
}

@media screen and (max-device-width: 480px) {
    .headline {
        font-size: 20pt;
        padding: 0;
        margin: 64px auto 12px auto;
    }
    .container {
        padding: 0 !important;
        margin: 0 !important;
    }
    .brand-text {
        font-size: 24pt;
    }
    .btn {
        font-size: 18pt;
    }
    .section {
        padding: 0 !important;
    }

    .list-contact li h4{
        font-size: 18pt;
    }
    .contact{
        margin: 20px auto 0 auto;
        padding: 16px !important;
    }

    .row-list .item h4{
        font-size: 12pt;
    }
}
